@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  body {
    @apply bg-primary-background;
  }
}

@theme {
  --color-primary-background: #fffafa;
  --color-primary: #011638;
  --color-primary-text: #1b1b1b;
  --color-secondary: #489FB5;
  --color-secondary-text: #EDE7E3;
  --color-tertiary: #2E294E;
}

.date {
  color: var(--color-primary-text);
}

.vertical-timeline::before {
  background: var(--color-primary-text) !important;
}
