@import "tailwindcss";
@import "tw-animate-css";

@layer base {
    @apply bg-primary-background dark:bg-primary-background-dark;
}

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary-background: #fffafa;
  --color-primary-background-dark: #181818;
  --color-primary: #011638;
  --color-primary-dark: #FFB6C1;
  --color-primary-text: #1b1b1b;
  --color-secondary: #489FB5;
  --color-secondary-text: #EDE7E3;
  --color-tertiary: #2E294E;
}

  .dialog {
    max-width: 95vw !important;
    padding: 1rem !important;
  }

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.dark .dialogContact {
  background-color: var(--color-primary-background-dark) !important;
}

.dialog {
  border: none !important;
  border-radius: 0 !important;
  outline: none !important;
  background-color: var(--color-primary-background) !important;
  animation: fadeInUp 0.5s cubic-bezier(.39,.575,.565,1) both;
  overflow-y: auto;
  max-height: 100vh;
}

.dialogContact {
  border: none !important;
  border-radius: 0 !important;
  outline: none !important;
  background-color: var(--color-primary-background) !important;
  /* animation: fadeInUp 0.5s cubic-bezier(.39,.575,.565,1) both; */
  overflow-y: auto;
  max-height: 100vh;
  min-width: 900px !important;
}

.dialogInput {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 990px) {
  .dialogInput {
    flex-direction: column;
  }
}


@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.5s cubic-bezier(.39,.575,.565,1) both;
  }
  .animate-fade-out-down {
    animation: fadeOutDown 0.5s cubic-bezier(.39,.575,.565,1) both;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeOutDown {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(40px);
    }
  }
}

main {
  height: 100%;
  max-height: 1104px;
  padding: 30px;
  overflow: auto;
  max-width: 1104px;
  margin: 0 auto;
}

.main-content.main-icon {
  position: relative;
}

.main-content.main-icon::after {
  content: '';
  position: absolute;
  left: 15%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 100px;
  height: 100px;
  background: url('/code.svg') no-repeat center center/contain;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
}

@media (max-width: 1024px) {
  .main-content.main-icon::after {
    display: none;
  }
  .main-content.main-icon {
    padding-bottom: 0px;
  }
}
